<app-nav></app-nav>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <button class="btn btn-purple px-4 py-2" [routerLink]="['/new-article']">Créer un article</button>
    <div class="d-flex align-items-center">
      <strong class="me-2">Trier par</strong>
      <span>&darr;</span>
    </div>
  </div>
<div class="row gy-4">
  @if (!isLoading) {
   @for (article of orderedPostsByDate; let i = $index; track i) {
    <div class="col-md-6 col-lg-6 mb-6">
      <div class="p-3 bg-light rounded shadow-sm " style="cursor: pointer;" (click)="onArticleClick(article)">
        <h5 class="fw-bold">{{ article.title }}</h5>
        <div class="d-flex justify-content-between mb-2">
          <span>{{ article.createdAt | date }}</span>
          <span>{{ article.auteurName }}</span>
        </div>
        <p class="mb-0 text-muted" style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;">
         {{ article.content }}
        </p>
      </div>
    </div>
    
  }
  } @else if (isLoading) {
  <p>loading...</p>
  } @else if (error) {
  <p>an error occured, try again later</p>
  }
  </div>
</div>
